<% layout('layouts/boilerplate')%>

<h1>All Houses</h1>
<div>
    <a href="/houses/new">Add House</a>
</div>
<% for (let house of houses){%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <%if(house.images.length) {%>
                <img class="img-fluid" alt="" src="<%=house.images[0].url%>">
                <% }else {%>
                <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= house.title %> </h5>
                <p class="card-text"><%= house.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= house.location%></small>
                </p>
                <a class="btn btn-primary" href="/houses/<%=house._id%>">View <%=house.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>